{% extends "base.html" %}
{% block content %}
<h1>Privacy Policy</h1>
<br />
<p>
  The following data entered into the system will be considered open data,
  available to the public, and be viewed and used to improve the Xalgorithms
  Development Rule Maker and other prototypes:
</p>
<ol>
  <li>Your email address and full name, when associated with a rule</li>
  <li>The content of all rules written within the prototype</li>
</ol>

<p>
  Private information, specifically passwords, will be kept encrypted and
  inaccessible to both the developers and the public.
</p>
{% endblock content %}
