{% extends "base.html" %}
{% block content %}
<br/>
<h1>DevRM System Statistics</h1>
<p>
  Listed here are links to the public rules and profiles currently stored
  within this deployed instance of <b>XalgoDevRM</b>. Please do not attempt
  to solicit the users listed below unnecessarily.
</p>
<h2>Users</h2>
<p>All of the rule makers using the XalgoDevRM prototype:</p>
<ul>
  {% for user in users %}
  <li>
    <span class="text-info">
    Name:
    </span>
    {% if user.name %}
    <b>{{ user.name }}</b>
    {% else %}
    <b>{{ user.username }}</b>
    {% endif %}
    <br/>
    <span class="text-info">
    Email:
    </span>
    <code>{{ user.email }}</code> <br/>
    <span class="text-info">
    UUID:
    </span>
    <code>{{ user.id }}</code> <br/>
    <br />
  </li>
  {% endfor %}
</ul>
<h2>Rules</h2>
<p>All of rules written within the XalgoDevRM prototype:</p>
<ol>
  {% for rule in rules %}
  <li>
    <span class="text-info">
    Name:
    </span>
    <b>{{ rule.name }}</b>
    &middot;
    <a href="{% url 'view-rule' rule.id %}">View Rule</a>
    <br/>
    <span class="text-info">
    Description:
    </span>
    {{ rule.description }}
    <br />
    <span class="text-info">
    UUID:
    </span>
    <code>{{ rule.id }}</code> <br/>
    <span class="text-info">
    Creator:
    </span>
    {{ rule.rule_creator.username }}
    <span class="text-secondary">{{ rule.rule_creator.email }} </span>
    <code>{{rule.rule_creator.id}} </code> <br/>
    <br />
  </li>
  {% endfor %}
</ol>
{% endblock content %}
