html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 0px solid white;
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

/* Prevent unseemly squishing of entire editor when page is made narrow. */
@media only screen and (max-width: 1200px) {
  html {
    overflow-x: scroll;
    width: 1200px;
  }
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background: '#F9FBFE';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
}

.loading-wrapper {
  width: 100%;
  height: 95vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-loader {
  margin: 0 auto;
}

.xa-react-modal {
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.noscollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.noscrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(143, 143, 143);
}
